# Database (local)
DATABASE_URL=postgresql+psycopg2://[your_username]:[your_password]@localhost:5433/ask_sg

# Environment
ENV=development

# Ollama (local LLM)
OLLAMA_BASE_URL=http://localhost:11434/v1
OLLAMA_EMBEDDING_MODEL=nomic-embed-text
OLLAMA_EMBEDDING_MODEL_BASE_URL=http://localhost:11434

# Tavily (search API) - get key from https://tavily.com
TAVILY_API_KEY=your_tavily_api_key_here


<!-- # Docker
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=ask_sg
DATABASE_URL=postgresql+psycopg2://username:password@db:5432/ask_sg

# Environment
ENV=development

# Ollama (local LLM)
OLLAMA_BASE_URL=http://host.docker.internal:11434/v1
OLLAMA_EMBEDDING_MODEL_BASE_URL=http://host.docker.internal:11434
OLLAMA_EMBEDDING_MODEL=nomic-embed-text -->
